body {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 72px;
    background: -webkit-linear-gradient(top, red , yellow);
    background: -o-linear-gradient(bottom, red, yellow);
    background: -moz-linear-gradient(bottom, red, yellow);
    background: linear-gradient(to top, red , yellow); 
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}

.window {
    background-color: white;
    border-radius: 25px;
    height: 350px;
    width: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* box-shadow: inset 0 0 5px black; */
    border: double;
    border-image-slice: 1;
    border-width: 20px;
    border-image-source: linear-gradient(to top, red, yellow);
}

.ball8 {
    height: 310px;
    width: 310px;
    border-radius: 50%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.whiteCircle {
    background-color: white;
    height: 110px;
    width: 110px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 10px black;
}

.font {
    font-size: 90px;
    font-weight: bold;
}

.whiteCircle {
    font-size: 15px;
    font-weight: bold;
}